---
layout: default
title: Resume
---

<div class="resume">
  <h1 class="title is-size-1 has-text-centered has-text-primary">{{ page.title }}</h1>
  <div class="section section-card">
    <div class="container page page-resume">
      <div class="columns">
        <div class="column is-5 resume-profile">
          {% assign data = site.data.resume %}

          {% assign link = data.photo %}
          {% include util/prepend_link.html %}
          <img class="image centered is-128x128" src="{{ link }}">

          <h1 class="is-size-1 has-text-centered">{{ data.name }}</h1>
          <p class="has-text-centered">{{ data.title }}</p>

        {% if data.skills %}
          {% for skill in data.skills %}
            <p class="skill {{ skill.style }}">
              <span class="icon is-big has-text-info">
                <i class="fa fa-2x {{ skill.icon }}"></i>
              </span>
              <progress class="progress {{ skill.progress.style }}" value="{{ skill.progress.value }}" max="{{ skill.progress.max }}">{{ skill.progress.value }}%</progress>
            </p>

          {% endfor %}

        {% endif %}

        </div> {% comment %} resume-profile {% endcomment %}

        <div class="column resume-info has-text-dark">
        {% for section in data.profile %}
          <h1 class="is-size-3 {{ section.style }}">{{ section.title }}</h1>

          {% for item in section.info %}
            <p class="years {{ item.style }}">{{ item.years }}</p>
            <p class="info {{ item.style }}">{{ item.text }}</p>

            {% if item.list %}
              <ul class="info {{ item.style }}">
                {% for line in item.list %}
                  <li class="{{ line.style }}">{{ line.text }}</li>
                {% endfor %}

              </ul> {% comment %} info {% endcomment %}
            {% endif %}

          {% endfor %}

        {% endfor %}

        </div> {% comment %} resume-info {% endcomment %}
      </div> {% comment %} columns {% endcomment %}
    </div> {% comment %} page-resume {% endcomment %}
  </div> {% comment %} section-card {% endcomment %}
</div> {% comment %} resume {% endcomment %}
