{% assign data = site.data.general.header %}
{% assign burger_spans = 3 %}

<nav class="navbar {{ data.menu.style }}" role="navigation" aria-label="main navigation">

{% if data.brand %}
  <div id="navbarBrand" class="navbar-brand">
    {% assign link = data.brand.link %}
    {% include util/prepend_link.html %}
    <a class="navbar-item" href="{{ link }}">

    {% if data.brand.image %}
      {% assign link = data.brand.image %}
      {% include util/prepend_link.html %}
      <img src="{{ link }}" alt="{{ data.brand.name }}">

    {% endif %}

    </a> {% comment %} navbar-item {% endcomment %}

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBurger">

    {% for i in (1..burger_spans) %}
      <span aria-hidden="true"></span>
    {% endfor %}

    </a> {% comment %} navbar-burger {% endcomment %}
  </div> {% comment %} navbar-brand {% endcomment %}

{% endif %}

{% if data.menu %}
  <div id="navbarMenu" class="navbar-menu">

  {% if data.menu.start %}
    <div class="navbar-start">

    {% for item in data.menu.start %}
      {% include util/navbar_items.html %}
    {% endfor %}

    </div> {% comment %} navbar-start {% endcomment %}

  {% endif %}

  {% if data.menu.end %}
    <div class="navbar-end">
      <div class="navbar-item">

      {% for item in data.menu.end %}
        {% include util/navbar_items.html %}
      {% endfor %}

    </div> {% comment %} navbar-end {% endcomment %}

  {% endif %}

  </div> {% comment %} navbar-menu {% endcomment %}
{% endif %}

</nav> {% comment %} navbar {% endcomment %}
