<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.title %}
<title>{{ page.title }} | {{ site.title | default: 'Vitrina' }}</title>
{% else %}
<title>{{ site.title | default: 'Vitrina' }}</title>
{% endif %}

<link rel="stylesheet" href="{{ site.url }}assets/css/styles.css" integrity="sha384-bklqi03kGQUWMlWMyt8RtbVHZdjgaS7xzwajmlb8WuS9G5bwGCzLUxtD60SqXkGd" crossorigin="anonymous">

{% seo %}
