{% assign data = site.data.home %}

{% for part in data %}

  {% if part.structure == "hero" %}

    {% if part.background %}
    <section class="hero is-fullheight is-primary has-background {{ part.style }}">
      <img class="hero-background" src="{{ part.background }}">

    {% else %}
    <section class="hero is-fullheight is-light {{ part.style }}">

    {% endif %}

      <div class="hero-body">
        <div class="container">

        {% for item in part.content %}
          {% include util/items.html %}
        {% endfor %}

        </div> {% comment %} hero-body {% endcomment %}
      </div> {% comment %} container {% endcomment %}
    </section> {% comment %} hero {% endcomment %}

  {% elsif part.structure == "level" %}
    <section class="section">
      <nav class="level {{ part.style }}">

      {% for level in part.content %}
        <div class="level-item {{ level.style }}">
          <div>

          {% for item in level.items %}
            {% include util/items.html %}
          {% endfor %}

          </div>
        </div> {% comment %} level-item {% endcomment %}

      {% endfor %}

      </nav> {% comment %} level {% endcomment %}
    </section> {% comment %} section {% endcomment %}

  {% elsif part.structure == "section" %}
    <section class="section {{ part.style }}">
      <div class="container">

      {% if part.title %}
        <h1 class="title">{{ part.title }}</h1>
      {% endif %}

      {% for item in part.content %}
        {% include util/items.html %}
      {% endfor %}

      </div> {% comment %} container {% endcomment %}
    </section> {% comment %} section {% endcomment %}

  {% elsif part.structure == "grid" %}
    <section class="section grid{{ part.style }}">

    {% if part.title %}
      <div class="container content">
        <h1 class="title">{{ part.title }}</h1>
      </div>

    {% endif %}

      <div class="container">
        {% include util/grid_columns.html %}
      </div>

    </section> {% comment %} section {% endcomment %}

  {% endif %}

{% endfor %}
