@charset "utf-8";

main {
  min-height: 100vh;
}

section:nth-child(odd) {
  background-color: $grey-lighter;
}

.navbar {
  &-menu {
    background-color: $primary;
    padding-right: 3rem;
  }

  &-dropdown {
    background-color: $info;
    border: none;
    border-radius: 0;

    .navbar-item {
      a {
        &:hover,
        &:focus,
        &:focus-within {
          background-color: transparent;
        }
      }
    }
  }
}

@media screen and (min-width: 10px) {
  .navbar.is-primary .navbar-start .navbar-link,
  .navbar.is-primary .navbar-end .navbar-link {
    &::after {
      width: 0;
      height: 0;
      margin-top: -0.275em;
      border-style: solid;
      border-width: 10px 5px 0 5px;
      border-color: $primary-invert transparent transparent transparent;
      transform: none;
    }
  }
}

.select:not(.is-multiple):not(.is-loading)::after,
.navbar-link:not(.is-arrowless)::after {
  border-radius: 0;
}

.navbar-item {
  img {
    max-height: 3rem;
  }

  a,
  .navbar-link
  .button {
    &:hover,
    &.is-hovered,
    &:active,
    &.is-active,
    &:focus,
    &.is-focused,
    &:focus-within {
      background-color: $link-active;
    }
  }
}

.grid {
  .card {
    margin-bottom: 1.5rem;
    height: max-content;
  }

  .column {
    .card:last-child {
      margin-bottom: 0;
    }
  }
}

.hero {
  &.has-background {
    position: relative;
    overflow: hidden;
  }

  &-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    filter: opacity(20%);
    -webkit-filter: opacity(20%);
  }
}

.timeline {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;

  &::after {
    content: "";
    width: 6px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    background-color: $primary;
    margin-left: -3px;
  }

  &-card {
    padding: 10px 40px;
    position: relative;
    width: 50%;

    &::after {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 22px;
      right: -10px;
      background-color: $primary-invert;
      border: 4px solid $primary;
      transform: rotate(45deg);
      transition: ease 0.5s;
      z-index: 1;
    }

    .timeline-content {
      padding: 20px 30px;
      background-color: $primary;
      color: $primary-invert;
      position: relative;
      transition: ease 0.5s;
    }

    &:hover {
      font-size: larger;

      &::after {
        transform: rotate(90deg);
      }
    }
  }

  .left::before,
  .right::before {
    content: "";
    height: 15px;
    width: 15px;
    position: absolute;
    top: 25px;
    background-color: black;
    transform: rotate(45deg);
    z-index: 1;
  }

  .left {
    left: 0;

    &::before {
      right: 33px;
    }
  }

  .right {
    left: 50%;

    &::after {
      left: -10px;
    }

    &::before {
      left: 33px;
    }
  }
}

@media screen and (max-width: 500px) {
  .timeline {
    &::after {
      left: 36px;
    }

    &-card {
      width: 100%;
      padding: 5px 70px;

      &::before {
        left: 60px;
      }
    }

    .left::after,
    .right::after {
      left: 26px;
    }

    .left::before,
    .right::before {
      left: 62px;
    }

    .right {
      left: 0%;
    }
  }
}

.buttons {
  padding: 1rem 0;
}

.button,
.input,
.textarea,
.select select,
.file-cta,
.file-name,
.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis {
  border-radius: 0;
}

.button {
  &.is-primary:hover,
  &.is-primary.is-hovered,
  &.is-primary:active,
  &.is-primary.is-active,
  &.is-primary:focus,
  &.is-primary.is-focused, {
    background-color: $primary-invert;
    color: $primary;
  }
}

.post-body {
  margin: 1.5rem 0;

  .task-list-item-checkbox {
    margin: 0.5rem;
  }
}

.categories {
  span {
    background-color: $grey-lightest;
    padding: 4px;
    margin: 2px 0;
  }
}

.has-text-pink {
  color: $pink;
}

hr {
  background-color: $grey-lightest;
}
