@charset "utf-8";

section:nth-child(odd) {
  background-color: $background;
}

.navbar-menu {
  background-color: $primary;
}

.navbar-dropdown {
  background-color: $info;
  border: none;

  .navbar-item {
    a {
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }
}

.navbar-item {
  img {
    max-height: 3rem;
  }

  a {
    &:hover,
    &:focus,
    &:focus-within {
      background-color: transparent;
    }
  }
}

.navbar-link {
  &:hover,
  &:focus,
  &:focus-within {
    background-color: transparent;
  }
}

.grid {
  .card {
    margin-bottom: 1.5rem;
    height: max-content;
  }

  .column {
    .card:last-child {
      margin-bottom: 0rem;
    }
  }
}

.hero {
  &.has-background {
    position: relative;
    overflow: hidden;
  }

  &-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    filter: opacity(20%);
    -webkit-filter: opacity(20%);
  }
}

.buttons {
  padding: 1rem 0;
}
