---
layout: default
---

<div class="contacts">
  <h1 class="title is-size-1 has-text-centered has-text-primary">{{ page.title }}</h1>
  <div class="section section-card">
    <div class="container page">
      <div class="columns">
        <div class="column contact">
          <h1 class="is-size-3 has-text-centered">Links</h1>
          <p class="links has-text-centered">
          {% assign data = site.data.links %}

          {% for link in data %}
            <span class="link">
              <a class="has-text-info" href="{{ link.reference }}">
                <i class="fa fa-5x {{ link.icon }}"></i>
              </a>
            </span>

          {% endfor %}

          </p> {% comment %} links {% endcomment %}
        </div>
        <div class="column has-text-dark">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
